@mixin borderRadius{//定义混合宏
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@mixin border{//定义混合宏
  border: #666 10px solid;
}

@mixin margin{//定义混合宏
  margin: 40px 20px;
  float: left;
}

$width: 200px;
$height: 200px;

.box{
  background: yellow;
  width: $width;
  height: $height;
  @include borderRadius;//使用混合宏
  @include border;//使用混合宏
  @include  margin;//使用混合宏
}

.wrap{
  background: green;
  @extend .box;//继承
}

.content{
  background: #c00;
  @extend .box;//继承
}